--extra-index-url --find-links https://download.pytorch.org/whl/cu113
torch 
--extra-index-url --find-links https://download.pytorch.org/whl/cu113
torchvision 
--extra-index-url --find-links https://download.pytorch.org/whl/cu113
torchaudio 
rdkit-pypi
deepchem
mordred
scikit-learn
uamc-spectrophore
numba
opencv-python
joblib
tqdm
pandas
numpy